<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Co list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div th:replace="~{navigation :: navigationOne(Pro)}"/>
    <!--    <div th:replace="~{navigation :: navigationThree(Pro)}"/>-->

    <div class="row" style="height: 100px">
        <div class="col align-self-end"></div>
    </div>

    <div class="row">
        <div class="col">
            <!--    <table border="1">-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Product Short Name</th>
                    <th scope="col">Product Full Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productShortName}">Product Short Name</td>
                    <td th:text="${product.productFullName}">Product Full Name</td>
                </tr>
                </tbody>
            </table>
            <a href="/copro">Home</a>
        </div>
    </div>

</div>

<script src="/js/popper.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>