<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${headerCpId}">!!!</h1>
<!--<form action="#" th:action="@{/demo/${}show-deleted-through-view}" th:object="${coproId}" method="post">-->
<form th:object="${coproId}" th:action="@{/copro/delete-through-view}" method="post">
    <table>
        <tr>
            <td>Counterparty short name:</td><td><input type="text" th:field="*{counterpartyShortName}"/></td>
        </tr>
        <tr>
            <td>Country code:</td><td><input type="text" th:field="*{countryCode}"/></td>
        </tr>
        <tr>
            <td>Place:</td><td><input type="text" th:field="*{place}"/></td>
        </tr>
        <tr>
            <td>Product short name:</td><td><input type="text" th:field="*{productShortName}" /></td>
        </tr>
        <tr>
            <td><input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/></td>
        </tr>
    </table>
    <!--<p>Counterparty short name: <input type="text" th:field="*{counterpartyShortName}" /></p>
    <p>Product short name: <input type="text" th:field="*{productShortName}" /></p>-->
    <p><input type="submit" th:value="${btn}" /> <input type="reset" value="Reset" /></p>

</form>
<a href="/copro">Home</a>
</body>
</html>