<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit CoPro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigationOne(CoPro)}"/>
    <!--    <div th:replace="~{navigation :: navigationThree(Pro)}"/>-->

    <div class="row" style="height: 150px">
        <div class="col align-self-end">
            <h2 th:text="${headerCoPro}">!!!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form th:action="@{/copro/}" th:object="${copro}" th:method="put">
                <!--<p>Counterparty:
                    <select th:field="*{counterpartyId}">
                        <option th:each="co : ${allCos}"
                                th:value="${co.id}"
                                th:text="${co.counterpartyShortName+' : '+co.countryCode+' : '+co.place}">
                            Wireframe, paragraph 6.5 of Tutorial Thymeleaf+Spring
                        </option>
                    </select>
                </p>-->

                <p>Counterparty:
                    <select th:field="*{counterpartyId}">
                        <option th:each="co : ${allCos}"
                                th:value="${co.id}"
                                th:text="${co.counterpartyShortName+' : '+co.countryCode+' : '+co.place}">
<!--                                th:selected="${copro.counterpartyId==co.id}">-->
                            Wireframe, paragraph 6.5 of Tutorial Thymeleaf+Spring
                        </option>
                    </select>
                </p>

                <p>Product:
                    <select th:field="*{productShortName}">
                        <option th:each="pro : ${allPros}"
                                th:value="${pro.productShortName}"
                                th:text="${pro.productShortName+' : '+pro.productFullName}">
<!--                                th:selected="${copro.productShortName==pro.productShortName}">-->
                            Wireframe, paragraph 6.5 of Tutorial Thymeleaf+Spring
                        </option>
                    </select>
                </p>
                <!--        <p>Product short name: <input type="text" th:field="*{productShortName}"/></p>-->
                <p>Is Buyer?: <input type="checkbox" th:field="*{isBuyer}"/></p>
                <p>Is Seller?: <input type="checkbox" th:field="*{isSeller}"/></p>
                <p>Is Consumer?: <input type="checkbox" th:field="*{isConsumer}"/></p>
                <p>Is Producer?: <input type="checkbox" th:field="*{isProducer}"/></p>
                <p>Quantity: <input type="text" th:field="*{quantity}"/></p>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

    <p><a href="/pro/create">Submit another Product</a></p>
    <p><a href="/pro/delete-through-view">Delete another Product</a></p>
    <p><a href="/pro/find-pro-by-short-or-full-name-view">Find another Product</a></p>
    <p><a href="/copro">Home</a></p>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>