<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form to search for CoPros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigationOne(CoPro)}"/>

    <div class="row" style="height: 150px">
        <div class="col align-self-end">
            <h1 th:text="${headerCpId}">!!!</h1>
        </div>
    </div>

    <form th:object="${coproId}" method="post">
        <table>
            <tr>
                <td>Counterparty short name:</td><td><input type="text" th:field="*{counterpartyShortName}"/></td>
            </tr>
            <tr>
                <td>Product short name:</td><td><input type="text" th:field="*{productShortName}" /></td>
            </tr>
        </table>
        <ul>
            <li><input type="radio" name="searchOption" value="ByCounterparty">
                <label>By Counterpary</label></li>
            <li><input type="radio" name="searchOption" value="ByProduct" checked>
                <label>By Product</label></li>
            <li><input type="radio" name="searchOption" value="ByCounterpartyOrProduct">
                <label>By Counterparty Or Product</label></li>
            <li><input type="radio" name="searchOption" value="ByCounterpartyAndProduct">
                <label>By Counterparty And Product</label></li>
        </ul>
        <p><input type="submit" th:value="${btn}" /> <input type="reset" value="Reset" /></p>
    </form>
    <a href="/copro">Home</a>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>