<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${headerCp}">!!!</h1>
<p th:text="'Counterparty short name: ' + ${counterpartyProduct.counterpartyShortName}" />
<p th:text="'Product short name: ' + ${counterpartyProduct.productShortName}" />
<p th:text="'Is Buyer?: ' + ${counterpartyProduct.isBuyer}" />
<p th:text="'Is Seller?: ' + ${counterpartyProduct.isSeller}" />
<p th:text="'Is Consumer?: ' + ${counterpartyProduct.isConsumer}" />
<p th:text="'Is Producer?: ' + ${counterpartyProduct.isProducer}" />
<p th:text="'Quantity: ' + ${counterpartyProduct.quantity}" />

<a href="/demo/add-through-view">Submit another CounterpartyProduct</a>
<a href="/demo/delete-through-view">Delete another CounterpartyProduct</a>
<a href="/demo">Home</a>

</body>
</html>