<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>The following entry has been successfully deleted from the database:</h1>
<p th:text="'Counterparty short name: ' + ${coproId.counterpartyShortName}" />
<p th:text="'Product short name: ' + ${coproId.productShortName}" />


<a href="/copro/delete-through-view">Delete another CounterpartyProduct</a>
<a href="index">Home</a>

</body>
</html>