<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form to delete Counterparty Product</h1>
<form action="#" th:action="@{/demo/show-deleted-through-view}" th:object="${coproId}" method="post">
    <p>Counterparty short name: <input type="text" th:field="*{counterpartyShortName}" /></p>
    <p>Product short name: <input type="text" th:field="*{productShortName}" /></p>
    <p><input type="submit" value="Delete" /> <input type="reset" value="Reset" /></p>
</form>
<a href="/demo">Home</a>
</body>
</html>