<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoPro Database</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--<style type="text/css">
body {
background-color: #d2b48c;
margin-left: 20%;
margin-right : 20%;
border: lpx dotted gray;
padding: lOpx lOpx lOpx lOpx;
font-family : sans- serif;
</style>-->

<!--    <link rel = "stylesheet" href = "MyStyle.css">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <div th:replace="~{navigation :: navigationThree(Home)}"/>

    <h2>Welcome to database of counterparties and products</h2>
    <p>Get list of all CounterpartyProducts <a href="/demo/alltoview">here</a></p>
    <p>Add CounterpartyProduct <a href="/demo/add-through-view">here</a></p>
    <p>Delete CounterpartyProduct <a href="/demo/delete-through-view">here</a></p>
    <p>Find CounterpartyProduct by CoProId <a href="/demo/find-copro-by-coproid-view">here</a></p>
    <p>Find CounterpartyProduct by Co or Pro or CoOrPro or CoAndPro <a href="/demo/find-copro-by-co-or-pro-etc-view">here</a></p>
</div>

<script src="/js/popper.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>