<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Do sth with Co by CoId</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigationOne(Co)}"/>
    <!--    <div th:replace="~{navigation :: navigationThree(Co)}"/>-->

    <div class="row" style="height: 150px">
        <div class="col align-self-end">
            <h1 th:text="${headerCoId}">!!!</h1>
        </div>
    </div>

    <form th:object="${coId}" th:action="@{/co/delete-through-view}" th:method="delete">
        <table>
            <tr>
                <td>Counterparty short name:</td>
                <td><input type="text" th:field="*{counterpartyShortName}"/></td>
            </tr>
            <tr>
                <td>Country code:</td>
                <td><input type="text" th:field="*{countryCode}"/></td>
            </tr>
            <tr>
                <td>Place:</td>
                <td><input type="text" th:field="*{place}"/></td>
            </tr>
            <tr>
                <td><input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/></td>
            </tr>
        </table>
        <p><input type="submit" th:value="${btn}"/> <input type="reset" value="Reset"/></p>
    </form>

    <a href="/copro">Home</a>
</div>


<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>